<form class="row g-3">
  <div class="col-auto">
    <label for="boarding" class="form-label">From</label>
    <input type="text" class="form-control" id="boarding">
  </div>
  <div class="col-auto">
    <label for="destination" class="form-label">To</label>
    <input type="text" class="form-control" id="destination">
  </div>
  <div class="col-auto">
    <label for="departure" class="form-label">Departure</label>
    <input type="date" class="form-control" id="departure">
  </div>
  <div class="col-auto">
    <label for="return" class="form-label">Return</label>
    <input type="date" class="form-control" id="return">
  </div>
  <div class="col-auto">
    <label for="travel-class" class="form-label">Class</label>
    <select name="travel-class" class="form-control" id="travel-class">
      <option value="economy">Economy</option>
      <option value="basic">Basic</option>
      <option value="main">Main</option>
    </select>
  </div>
  <div class="row justify-content-center mt-3">
    <button type="submit" class="btn btn-primary col-md-3">SEARCH FLIGHTS</button>
  </div>
</form>
