<div class="home-container mt-5">
  <div [ngClass]="[formstyle]">
    <form #f="ngForm" (ngSubmit)="onSubmit()" class="ms-5 ps-5">
      <div class="row g-3 mt-3 ms-1" style="font-weight: normal;">
        <div class="form-check col-auto">
          <input class="form-check-input" type="radio" name="trip-type" id="oneway" (click)="checkOneway()"
            [checked]="!flightSearch.isRoundTrip">
          <label class="form-check-label" for="oneway">
            Oneway
          </label>
        </div>
        <div class="form-check col-auto">
          <input class="form-check-input" type="radio" name="trip-type" id="roundtrip" (click)="checkRoundtrip()"
            [checked]="flightSearch.isRoundTrip">
          <label class="form-check-label" for="roundtrip">
            Round Trip
          </label>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-auto">
          <label for="boarding" class="form-label">From</label>
          <input type="text" [(ngModel)]="flightSearch.boarding" class="form-control" name="boarding" list="boardplaces"
            autocomplete="off" required>
          <datalist id="boardplaces">
            <option *ngFor="let place of boardingPlaces" [value]="place">{{place}}</option>
          </datalist>
        </div>
        <div class="col-auto align-self-end">
          <button type="button" (click)="changePlaces()" class="btn btn-sm mb-1 btn-light text-nowrap">
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
          </button>
        </div>
        <div class="col-auto">
          <label for="destination" class="form-label">To</label>
          <input type="text" [(ngModel)]="flightSearch.destination" class="form-control" name="destination"
            list="destplaces" autocomplete="off" required>
          <datalist id="destplaces">
            <option *ngFor="let place of destinationPlaces" [value]="place">{{place}}</option>
          </datalist>
        </div>
        <div class="col-auto">
          <label for="departure" class="form-label">Departure</label>
          <input type="date" [(ngModel)]="flightSearch.departure" class="form-control" name="departure"
            [min]="minDate | date:'yyyy-MM-dd'" required>
        </div>

        <div class="col-auto" [style.display]="flightSearch.returnDisplay">
          <label for="return" class="form-label">Return</label>
          <input type="date" [(ngModel)]="flightSearch.returnDate" class="form-control" name="return"
            [min]="flightSearch.departure" [required]="flightSearch.isRoundTrip">
        </div>

        <div class="col-auto">
          <label for="travelclass" class="form-label">Class</label>
          <select [(ngModel)]="flightSearch.travelclass" class="form-control" name="travelclass" required>
            <option value="economy">Economy</option>
            <option value="business">Business</option>
          </select>
        </div>
        <div class="row mt-3 " style="position: relative;">
          <button type="submit" class="btn btn-primary col-md-3" [disabled]="!f.valid" [ngClass]="[subbutton]" style="font-weight: 550;">SEARCH FLIGHTS</button>
        </div>
      </div>
    </form>
  </div>
</div>
