<form #myForm="ngForm" (ngSubmit)="onSubmit()" class="ms-5 ps-5">
  <div class="row g-3 mt-3 ms-1">
    <div class="form-check col-auto">
      <input class="form-check-input" type="radio" name="trip-type" id="oneway" (click)="checkOneway()" checked>
      <label class="form-check-label" for="oneway">
        Oneway
      </label>
    </div>
    <div class="form-check col-auto">
      <input class="form-check-input" type="radio" name="trip-type" id="roundtrip" (click)="checkRoundtrip()">
      <label class="form-check-label" for="roundtrip">
        Round Trip
      </label>
    </div>
  </div>

  <div class="row g-3">
    <div class="col-auto">
      <label for="boarding" class="form-label">From</label>
      <input type="text" [(ngModel)]="flightSearch.boarding" class="form-control" name="boarding" >
    </div>
    <div class="col-auto">
      <label for="destination" class="form-label">To</label>
      <input type="text" [(ngModel)]="flightSearch.destination" class="form-control" name="destination" >
    </div>
    <div class="col-auto">
      <label for="departure" class="form-label">Departure</label>
      <input type="date" [(ngModel)]="flightSearch.departure" class="form-control" name="departure">
    </div>
    <div class="col-auto" [style.display]="returnDisplay">
      <label for="return" class="form-label">Return</label>
      <input type="date" [(ngModel)]="flightSearch.return" class="form-control" name="return" >
    </div>
    <div class="col-auto">
      <label for="travelclass" class="form-label">Class</label>
      <select [(ngModel)]="flightSearch.travelclass" class="form-control" name="travelclass" >
        <option value="economy">Economy</option>
        <option value="business">Business</option>
      </select>
    </div>
    <div class="row justify-content-center mt-3">
      <button type="submit" class="btn btn-primary col-md-3">SEARCH FLIGHTS</button>
    </div>
  </div>
</form>
